*~
,*
*.new
*.go
*.aux
*.log
*.toc
lang.txt
lang.zip
gram.y
Makefile
examples/ffi/*.scm
examples/nyacc/lang/ffi-help/cairo*.png
.DS_Store
config.status
etc/autom4te.cache
test-suite/nyacc/foreign/ctest.*
